<div style="display: block; text-align: center;">
    <img src="http://res.cloudinary.com/chassiness/image/upload/c_scale,w_600/v1428661682/minimalist_logo_3_j4b4kc.png">
</div>

<p>Hi <span style="text-transform: capitalize"><strong>{{ firstName }}</strong></span>!</p>

<p>Thank you for signing up!</p>

<p><strong>Username: </strong> {{ username }}</p>

<p>Visit us at <a href="http://shop.theelbadiaries.com">shop.theelbadiaries.com</a> again soon.</p>

<p>Sincerely,</p>
<p> Chastine<br/>Head Baker at The Elba Diaries</p>