<div class="blog text-center">

    <hr class="featurette-divider">

    <p style="font-size: 24px">For tips, articles, recipes, and other blog-gy stuff, visit us at
        <a href="http://www.theelbadiaries.com">http://www.theelbadiaries.com</a>
    </p>
    <br>

    <a href="http://www.theelbadiaries.com">
        <img class="img-responsive"
             src="http://res.cloudinary.com/chassiness/image/upload/v1428743692/cupcake_logo_7_et4tqn.png">
    </a>

    <hr class="featurette-divider">

</div>