<div class="marketing">

    <div class="img-container">
        <img class="img-responsive"
             src="http://res.cloudinary.com/chassiness/image/upload/b_rgb:000,c_crop,h_150,o_60,w_1100/v1428704039/P1180557_itm8od.jpg">

        <div class="img-caption-overlay-sm text-uppercase">We'd love to hear from you!</div>
    </div>

    <div class="row featurette">

        <div class="col-md-3 col-xs-3">
            <div class="container-fluid well">
                <!--Contact details-->
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-map-marker fa-lg"></i>
                    </div>
                    <div class="col-md-10">
                        Foster City Blvd., Foster City, California
                    </div>
                </div>
                <div class="row">
                    <br>

                    <a href="http://www.facebook.com/theelbadiaries">
                        <div class="col-md-2">
                            <i class="fa fa-facebook fa-lg"></i>
                        </div>
                        <div class="col-md-10">
                            /theelbadiaries
                        </div>
                    </a>
                </div>
                <div class="row">
                    <br>
                    <a href="http://instagram.com/theelbadiaries">
                        <div class="col-md-2">
                            <i class="fa fa-instagram fa-lg"></i>
                        </div>
                        <div class="col-md-10">
                            @theelbadiaries
                        </div>
                    </a>
                </div>
                <div class="row">
                    <br>
                    <div class="col-md-2">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="col-md-10">
                        theelbadiaries@gmail.com
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xs-9">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName"
                               placeholder="Hi! What's your name?">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Where can we reach you?">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Inquiry</label>

                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Custom Order"> Custom Order
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="General Inquiry"> General Inquiry
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Something Else"> Something Else
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMessage" class="col-sm-2 control-label">Message</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputMessage" rows="5"
                                  placeholder="Ok then! Write on, speak your mind and we'll get back to you (as needed)."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <hr class="featurette-divider">


</div>