<footer>
    <div class="container-fluid foot-blocks">
        <div class="row center-block" style="width: 1100px;">
            <div class="col-lg-4">
                <div class="foot-block">
                    <h2>Say HELLO</h2>
                    <br>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cras
                        mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="foot-block">
                    <h2>Let's be friends</h2>
                    <br>
                    <p>Social networking thumbs. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
                        lacinia odio sem nec elit. Cras
                        mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="foot-block">
                    <h2>Sign up!</h2>
                    <br>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cras
                        mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris
                        condimentum nibh.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center copyright center-block">
        <p>© Copyright The Elba Diaries 2015</p>
    </div>
</footer>

