<div class="navbar-wrapper">

        <ul class="nav-justified custom-nav center-block list-unstyled">
            <li role="presentation" class="active">
                <a class="nav-tab" href="#">
                    <h5>About</h5>
                </a>
            </li>
            <li role="presentation">
                <a class="nav-tab" ng-href="/catalogue">
                    <h5>Catalogue</h5></a>
            </li>
            <li role="presentation">
                <a class="nav-tab" href="#">
                    <h5>Custom</h5>
                </a>
            </li>
            <li role="presentation">
                <a class="nav-tab" href="#">
                    <h5>Blog</h5>
                </a>
            </li>
            <li role="presentation">
                <a class="nav-tab" href="#">
                    <h5>Contact</h5>
                </a>
            </li>
        </ul>

</div>