html {
    position: relative;
}

.marketing {
    margin: 20px 0 20px 0;
    /*text-align: center;*/
    padding: 10px 0 10px 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 10px 0 10px 0;
}

h1, h2, h3, h5 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 10px;
}

.btn-splash {
    background-color: rgba(255,255,255,0.8);
    border-radius: 0;
    transition: all 0.25s ease-in-out;
}

.btn-splash:hover {
    background-color: rgba(255,255,255,1);
}

.btn-sharp {
    border-radius: 0;
    transition: all 0.25s ease-in-out;
}

.btn-want-some {
    background-color: rgba(247, 135, 41, 0.7);
    border-radius: 0;
    transition: all 0.25s ease-in-out;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.btn-cart {
    /*background-color: rgba(252, 242, 175, 0.7);*/
    background-color: rgba(146, 124, 133, 0.3);
    border-radius: 0;
    transition: all 0.25s ease-in-out;
    margin-top: 50px;
}

.btn-cart:hover, .btn-cart:visited, .btn-cart:active  {
    /*background-color: rgba(252, 242, 175, 0.9);*/
    background-color: rgba(146, 124, 133, 0.4);
    outline: none;
}

.btn-want-some:hover, .btn-want-some:visited, .btn-want-some:active {
    background-color: rgba(247, 135, 41, 0.9);
    color: white;
    outline: none;
}

.btn-want-some:focus, .btn-want-some:active:focus {
    color: white;
    outline: none;
}

.btn-add-product {
    height: 200px;
    width: 200px;
    margin-top: 25px;
}

.cart-quantity {
    padding: 0 5px;
}

.flavor-cart {
    padding: 10px;
}

.flavor-label {
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
}

.custom-nav {
    width: 800px;
    height: 50px;
}

a.nav-tab {
    color: #333333;
    padding: 5px 15px;
    transition: all 0.25s ease-in-out;
}

a.nav-tab:hover h5, a.nav-tab:active h5, .blog a:hover {
    color: #978089;
}

a:hover, a:visited, a, a.nav-tab:-webkit-any-link {
    background-color: transparent;
    text-decoration: none;
    color: initial;
    transition: all 0.25s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.product-grid {
    padding: 60px 0 0 0;
}

footer {
    width: 100%;
    margin-top: 50px;
    color: rgba(255,255,255,0.8);
    background-image: url("http://res.cloudinary.com/chassiness/image/upload/b_rgb:000,c_crop,g_center,h_500,o_40,w_1600/v1428704039/P1180557_itm8od.jpg");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    display: block;
    height: 395px;
}

footer .foot-block {
    padding: 20px 0;
}

footer .foot-block-center {
    padding: 20px 5px;
}

footer .foot-blocks {

    height: 350px;
    width: auto;
}

footer h2 {
    color: rgba(255,255,255,1);
}

footer .row>div:first-child {
    padding-right: 30px;
}

footer .row>div:last-child {
    padding-left: 30px;
}

footer .social-icons>a {
    color: inherit;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
}

footer .social-icons>a i {
    padding: 20px 30px 0 0;
}

footer .social-icons>a:hover {
    color: rgba(255,255,255,1);
}

footer .social-icons>a>img {
    opacity: 0.8;
    transition: all 0.25s ease-in-out;
}

footer .social-icons>a>img:hover {
    opacity: 1;
}

footer .sign-up {
    color: initial;
}

footer .sign-up .form-control {
    border-radius: 0;
}

.copyright {
    background-color: #2f282b;
    width: inherit;
    height: 45px;
    color: rgba(255,255,255,0.4);
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 12px;
}

.copyright p {
    margin-top: 15px;
}

.blog a img:hover {
    opacity: 0.8;
    transition: all 0.25s ease-in-out;
}

.border {
    border: solid;
}

.bg-button, .btn-plus-cart {
    background-color: rgba(146, 124, 133, 0.3);
    transition: all 0.25s ease-in-out;
}

.bg-button:hover, .btn-plus-cart:hover {
    background-color: rgba(146, 124, 133, 0.4);
}

a.bg-button:hover {
    color: #0d0d0d;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption h1 {
    font-size: 60px;
    letter-spacing: 5px;
}

.carousel-caption {
    bottom: 120px;
}

.carousel-caption p {
    padding: 20px 0 0 0;
}

.carousel-caption .caption-text {
    border: solid;
}

body {
    color: #5a5a5a;
    margin-bottom: 445px;
}

.img-caption-overlay-sm {
    top:0;
    left:0;
    position: absolute;
    text-align: center;
    padding: 40px;
    font-size: 48px;
    color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.img-container{
    position:relative;
    margin: 20px 0 50px 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette-image {
    /*height: 350px;*/
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.construction {
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    background-image: url("http://res.cloudinary.com/chassiness/image/upload/b_rgb:000,c_crop,h_600,o_70,w_1200/v1428740338/P1150681_tad5oa.jpg");
    height: 600px;
    margin: 50px 0;
    color: rgba(255,255,255,1);
}

.img-caption {
    border: solid;
    width: 90%;
    position: relative;
    top: 100px;
    padding: 40px;
    /*background-color: rgba(255,255,255,0.4);*/
}

/*Angular Bootstrap stuff*/
/*.nav, .pagination, */
.carousel, .panel-title a { cursor: pointer; }

/*Add to cart*/

.add-cart-panel {
    margin: 20px 0;
    padding: 20px;
}

/*input.ng-invalid {*/
    /*border: 1px solid #a94442;*/
/*}*/
/*input.ng-valid {*/
    /*border: 1px solid #3c763d;*/
/*}*/

/*.btn-plus-cart {*/
    /*color: #fff;*/
    /*background-color: #337ab7;*/
    /*border-color: #2e6da4;*/
/*}*/

.ordersearch {
    padding: 20px 50px;
    margin: 50px 0;
}

.ordersearch .heading {
    margin-top: 20px;
    font-size: 50px;
}

.submit-panel {
    padding: 20px;
}

.history-detail-panel {
    background-color: white;
}

.history-detail-col {
    padding: 10px;
}

.history-detail {
    padding: 10px 0;
    border-top: solid 1px #d6d6d6;
    transition: all 0.25s ease-in-out;
}

.history-detail:hover {
    cursor: pointer;
    color: rgba(0,0,0,1);
}

.bordered {
    border: solid 1px #d6d6d6;
}

.history-panel {
    border: solid 1px #d6d6d6;
    padding: 10px 20px;
}

.history-panel-header {
    border-bottom: solid 2px #d6d6d6;
    padding-bottom: 10px;
}

/*.ordersearch .input-lg {*/
    /*height: 80px;*/
    /*font-size: 20px;*/
/*}*/

.ngCart.cart span[ng-click] {
    cursor: pointer;
}
.ngCart.cart .glyphicon.disabled {
    color:#aaa;
}

.account-header{
    padding-bottom: 30px;
}