<div class="marketing">
    <div class="row">
        <div class="col-md-4 col-xs-4 text-center">
            <img class="img-responsive"
                 src="http://res.cloudinary.com/chassiness/image/upload/c_scale,w_500/v1428656267/P1170146_behpng.jpg"
                 alt="Generic placeholder image">

            <h2>Macarons</h2>

            <p>Delightful, delicate, and all kinds of pretty. Let's take a little trip to Paris, shall we?</p>

            <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4 col-xs-4 text-center">
            <img class="img-responsive"
                 src="http://res.cloudinary.com/chassiness/image/upload/c_scale,w_500/v1428656570/P1180847_x1mopn.jpg"
                 alt="Generic placeholder image">

            <h2>Cakes</h2>

            <p>Chocolate, vanilla, salted caramel, 6 inches, 4 inches, 8 inches, and many other options.
                Have your cake and eat it too.</p>

            <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4 col-xs-4 text-center">
            <img class="img-responsive"
                 src="http://res.cloudinary.com/chassiness/image/upload/c_scale,w_500/v1428656144/P1130677_hnile5.png"
                 alt="Generic placeholder image">

            <h2>Cupcakes</h2>

            <p>Come on, who doesn't like a cupcake? They're pretty and sweet. Add some booze (to your cupcakes!) and
                they're going to be the life of the party.</p>

            <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <br>
    <br>

    <div>
        <a ng-href="/catalogue" href="#" class="btn-splash btn btn-lg btn-block bg-button" role="button">
            <h1>View Catalogue</h1>
        </a>
    </div>

</div>
