<div ng-controller="SplashController" class="marketing">
    <carousel interval="splashInterval">
        <slide ng-repeat="slide in splashSlides" active="slide.active">
            <img ng-src="{{ slide.image }}" style="margin:auto;">

            <div class="carousel-caption">
                <div class="caption-text">
                    <h1>{{ slide.heading }}</h1>
                    <h4>{{ slide.caption }}</h4>
                </div>
                <!--<p>-->
                    <!--<a ng-href="/catalogue/{{ slide.gotoCtlg }}"-->
                            <!--class="btn-splash btn btn-lg" role="button" href="#">{{ slide.btnText }}</a>-->
                <!--</p>-->
            </div>
        </slide>
    </carousel>
</div>