<div class="marketing">

    <div class="img-container">
        <img class="img-responsive"
             src="http://res.cloudinary.com/chassiness/image/upload/b_rgb:000,c_crop,h_150,o_60,w_1100/v1428704039/P1180557_itm8od.jpg">

        <div class="img-caption-overlay-sm text-uppercase">Finalize my order</div>
    </div>

    <ngcart-cart></ngcart-cart>

    <div ng-show="!isCartEmpty()">

        <form name="orderform" novalidate ng-submit="createOrder()">
            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <h4>Pickup/Meetup Date</h4>

                    <div class="form-group"
                         ng-class="{'has-error' : (orderform.pickupdate.$dirty && orderform.pickupdate.$invalid)}">
                        <div class="input-group">
                            <input ng-model="neworder.orderdate" name="pickupdate"
                                   type="text" class="form-control" datepicker-popup="{{ dateFormat }}"
                                   is-open="opened" min-date="{{ minDate }}" max-date="{{ maxDate }}"
                                   datepicker-options="dateOptions"
                                   ng-required="true" show-button-bar="false"
                                   placeholder="Pickup Date"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error' : (orderform.pickuppoint.$dirty && orderform.pickuppoint.$invalid)}">
                        <select ng-model="neworder.pickuppoint" class="form-control"
                                ng-class="{'has-error' : orderform.pickuppoint.$invalid}" name="pickuppoint"
                                ng-options="p for p in {{ pickupPoints }}" required>
                            <option value="">-- Preferred Pickup Point --</option>
                        </select>

                        <div ng-show="(orderform.pickuppoint.$dirty && orderform.pickuppoint.$invalid)"
                             class="text-danger">
                            <small ng-show="orderform.pickuppoint.$error.required">
                                Pickup point is required.
                            </small>
                        </div>
                    </div>

                    <h4>Instructions</h4>

                    <div class="form-group">
                <textarea ng-model="neworder.instructions" class="form-control" id="inputMessage" rows="4"
                          placeholder="Do you have any special requests or instructions regarding your order? Like frosting colors, if applicable."></textarea>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <h4>Your Contact Details</h4>

                    <div class="form-group" ng-show="userLoggedIn()">
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" placeholder="Name"
                                   ng-model="neworder.username" ng-disabled="true" required>
                            <span class="input-group-addon"><i class="fa fa-smile-o"></i></span>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error' : (orderform.contactname.$dirty && orderform.contactname.$invalid)}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="contactname" placeholder="Name"
                                   ng-model="neworder.contactname" ng-minlength="5" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        </div>
                        <div ng-show="(orderform.contactname.$dirty && orderform.contactname.$invalid)"
                             class="text-danger">
                            <small ng-show="orderform.contactname.$error.required">
                                Your name is required.
                            </small>
                            <small ng-show="orderform.contactname.$error.minlength">
                                Your name is required to be at least 5 characters.
                            </small>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error' : (orderform.contactemail.$dirty && orderform.contactemail.$invalid)}">
                        <div class="input-group">
                            <input type="email" class="form-control" name="contactemail" placeholder="Email address"
                                   ng-model="neworder.contactemail" ng-minlength="5" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>
                        <div ng-show="(orderform.contactemail.$dirty && orderform.contactemail.$invalid)"
                             class="text-danger">
                            <small ng-show="orderform.contactemail.$error.required">
                                Your email is required.
                            </small>
                            <small ng-show="orderform.contactemail.$error.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error' : (orderform.contactphone.$dirty && orderform.contactphone.$invalid)}">
                        <div class="input-group">
                            <input ng-model="neworder.contactphone" ng-pattern="/\b\d{3}[-.]?\d{3}[-.]?\d{4}\b/"
                                   type="text"
                                   class="form-control"
                                   name="contactphone" placeholder="999-999-9999" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        </div>
                        <div ng-show="(orderform.contactphone.$dirty && orderform.contactphone.$invalid)"
                             class="text-danger">
                            <small>
                                Your phone number is required.
                            </small>
                        </div>
                    </div>
                    <!--<hr>-->
                    <div class="bg-warning">
                        <p>Please note that we need to confirm your order via
                            email/phone. All payments will be made upon order pickup.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <h4>Place order</h4>

                    <div class="panel panel-default submit-panel">
                        <div ng-show="orderform.$valid && !isCartEmpty()">
                            <h4 class="text-center">Everything looks good.</h4>

                            <h3 class="text-center"><strong>I'm all set! <i class="fa fa-smile-o"></i></strong></h3>
                        </div>
                        <div ng-show="isCartEmpty()">
                            <h4 class="text-center">Add some GOODIES to your cart to get started.</h4>
                        </div>
                        <div ng-show="orderform.$invalid">
                            <h4 class="text-center">Please fill out the required fields so that deliciousness can come
                                your
                                way.</h4>
                        </div>
                        <br>
                        <button class="center-block btn btn-want-some btn-lg btn-block" type="submit"
                                ng-disabled="orderform.$invalid || isCartEmpty()">
                            <h1>SUBMIT</h1>
                        </button>

                        <div ng-if="newOrderError">
                            <br>

                            <p class="bg-danger">{{ newOrderError }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>

</div>