<div class="marketing ordersearch bg-warning">


    <div class="row">
        <div class="col-md-7 col-xs-6">
            <h1 class="heading">Find my order</h1>

            <p class="lead">Got an order that you want to check on or update?</p>
        </div>
        <div class="col-md-5 col-xs-6">

            <form name="ordersearchform" novalidate>

                <div class="form-group"
                     ng-class="{'has-error' : ordersearchform.orderid.$dirty && ordersearchform.orderid.$invalid}">

                    <input type="text" class="form-control input-lg" name="orderid"
                           placeholder="Enter Order Confirmation Number" ng-model="orderId" required>

                    <div ng-show="ordersearchform.orderid.$dirty && ordersearchform.orderid.$invalid"
                         class="text-danger">
                        <small ng-show="ordersearchform.orderid.$error.required">
                            Order ID is required.
                        </small>
                    </div>
                </div>

                <a ng-href="/orders" href="#" style="width: 100%" class="btn btn-want-some btn-lg" role="button"
                   ng-disabled="ordersearchform.$invalid">
                    <h1>LET'S GO!</h1>
                </a>

            </form>
        </div>
    </div>


</div>