<div class="marketing">

    <div class="img-container">
        <img class="img-responsive"
             src="http://res.cloudinary.com/chassiness/image/upload/b_rgb:000,c_crop,h_150,o_60,w_1100/v1428704039/P1180557_itm8od.jpg">

        <div class="img-caption-overlay-sm text-uppercase">Your order details</div>
    </div>

    {{ order }}

    <form name="orderdtlform">

        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label" for="contactName">Contact Name</label>-->

            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="contactName"-->
                       <!--placeholder="Hi! What's your name?">-->
            <!--</div>-->
        <!--</div>-->
        <!-- _id: "5549e7c4e6b755594f56632c"
contactName: "Chastinr"
contactPhone: "6506013829"
contactEmail: "chastine.guyuyco@gmail.com"
pickupDate: "2015-05-10T07:00:00.000Z"
pickupLocation: "Shadow Cove Apartments"
status: "NEW"
totalPrice: 68
__v: 0
itemList: [2]
0:  {
name: "6-inch Cakes - Vanilla"
quantity: 1
price: 34
totalprice: 34
_id: "5549e7c4e6b755594f56632e"
}-
1:  {
name: "6-inch Cakes - Salted Caramel"
quantity: 1
price: 34
totalprice: 34
_id: "5549e7c4e6b755594f56632d"
}-
-
updated: "2015-05-06T10:07:00.135Z"
created: "2015-05-06T10:07:00.111Z"-->
    </form>

</div>