<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div class="row flavor-cart">
        <div class="col-xs-6 cart-quantity" ng-show="quantityMax">
            <select class="form-control" name="quantity" id="quantity" ng-model="q"
                    ng-options="v for v in qtyOpt"></select>
        </div>

        <button class="col-xs-3 btn btn-plus-cart"
                ng-click="ngCart.addItem(id, name, price, q, data); resetQ()"
                ng-transclude></button>

        <div class="col-xs-3"  ng-show="inCart()">
            <!--This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>-->
            <p class="text-success"><i class="fa fa-check fa-lg" style="padding-top: 10px"></i></p>
        </div>
    </div>

</div>